<div class="container">
  <div class="cocktail-card">
    <h1><%= @cocktail.name%></h1>

    <div class="doses_and_image_wrapper">
      <div class="doses">
        <ul>
          <% @cocktail.doses.each do |i| %>
            <li>
              <%= i.description %> <%= i.ingredient.name %> <%= link_to "Delete", dose_path(i), method: :delete, class: "btn btn-secondary btn-sm" %><br>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="image">
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
      </div>
    </div> <!-- end doses and image -->
    <br><br>
    <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-info btn-sm" %>
    <%= link_to "Back to main page", cocktails_path, class: "btn btn-info btn-sm" %>

  </div> <!-- end cocktail-card" -->
</div> <!-- end container -->
