<h1><%= @cocktail.name%></h1>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<ul>
  <% @cocktail.doses.each do |i| %>
    <li>
      <%= i.description %> <%= i.ingredient.name %> <%= link_to "Delete dose", dose_path(i), method: :delete, class: "btn btn-secondary btn-sm" %><br>
    </li>
  <% end %>
</ul>
<br><br>
<%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %><br><br>
<%= link_to "Back to main page", cocktails_path, class: "btn btn-primary" %><br><br>

